/* CSS declarations go here */
.navbar {
  margin-bottom: 0;
}

html, body, .container-fluid, .row {
  height: 100%;
}

.main {
  padding-top: 3.6em;
  height: 100%;
}

.sidebar {
  max-height: 100%;
  height: 100%;
  padding: 0;
  margin-left: 1px;
}

.btn-sidebar {
  text-align: left;
}


.panel {
  margin-bottom: 0;
}

.content {
  height: 100%;
}