@import 'variables.less';

.main {
  padding: @job-section-padding;
  max-height: none;
  height: calc(~'100% - 50px');
  background-color: #f5f5f5;
  overflow-y: auto;
  .job {
    width: calc(~'100% - 5px');
    padding-left: 5px;
    .job-header {
      margin: 0;
      font-size: @header-font-size;
      padding-bottom: 5px;
      .job-number {
        padding: 0;
        font-size: 16px;
        font-weight: bold;
      }
      .print-icon {
        position: absolute;
        right: 10px;
      }
    }
    .parties {
      padding-bottom: @job-section-padding;
      font-size: @header-font-size;
      margin: 0;
      textarea {
        width: 100%;
        text-align: left;
      }
      .form-group {
        margin: 0;
        label {
          font-size: 10px;
          font-weight: bold;
          padding-left: 2px;
        }
        textarea {
          margin-top: -5px;
        }
      }
      .carrier {
        padding-top: 10px;
        padding-bottom: 10px;
        textarea {
          text-align: center;
          font-size: 32px;
        }
      }
      .bl-type {
        label {
          text-align: center;
          font-size: 20px;
          width: 100%;
        }
      }
    }
  }
}















