<template name="App_body">
  <div class="container-fluid app">
    {{>Navbar}}
    <div class="row content">
      <div class="col-md-3 col-sm-3 sidebar">
        <div class="sidebar-list">
          <div class="sidebar-search-container">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control sidebar-search" placeholder="Search"/>
            </div>
          </div>
          <div class="sidebar-item-list">
            {{#if searching}}
              <a class="sidebar-message" href="">
                Search Results:
              </a>
              {{#if filteredJobs}}
                {{#each job in filteredJobs}}
                  {{>JobListItem job=job}}
                {{/each}}
              {{else}}
                <a class="sidebar-message" href="">
                  None
                </a>
              {{/if}}
            {{else}}
              {{#each job in activeJobs}}
                {{>JobListItem job=job}}
              {{else}}
                <a class="sidebar-message" href="">
                  No Active Jobs
                </a>
              {{/each}}
              {{#if showArchivedJobs}}
                {{#each job in archivedJobs}}
                  {{>JobListItem job=job}}
                {{else}}
                  <div class="sidebar-message">
                    <p>No archived jobs!</p>
                  </div>
                {{/each}}
                <a class="sidebar-message hide-archived-link" href="">
                  Hide Archived Jobs
                </a>
              {{else}}
                <a class="sidebar-message show-archived-link" href="">
                  Show Archived Jobs
                </a>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 main">
        {{>Template.dynamic template=content}}
      </div>
    </div>

  </div>
</template>