<template name="App_body">
  <div class="container-fluid app">

    {{>Navbar}}

    <div class="row content">
      <div class="col-md-3 col-sm-3 sidebar">
        <div class="sidebar-list">
          <div class="sidebar-search-container">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control sidebar-search" placeholder="Search"/>
            </div>
          </div>
          <div class="sidebar-item-list">
            {{#each job in Jobs}}
              {{>JobListItem job=job}}
            {{else}}
              <a class="no-active-jobs" href="">
                No Active Jobs
              </a>
            {{/each}}
            {{#if showArchivedJobs}}
              {{#each job in ArchivedJobs}}
                {{>JobListItem job=job}}
              {{else}}
                <div class="panel sidebar-item">
                  <p>No archived jobs!</p>
                </div>
              {{/each}}
              <a class="hide-archived-link" href="">
                Hide Archived Jobs
              </a>
            {{else}}
              <a class="show-archived-link" href="">
                Show Archived Jobs
              </a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 main">
        {{>Template.dynamic template=content}}
      </div>
    </div>

  </div>
</template>