<template name="CargoContainer">
  <div class="cargo-container">
    <div class="row container-header">
      <div class="col-md-4 cargo-column">
        <div class="col-md-5 number-column cargo-column">
          {{> Textarea path=path field="number" jobId=job._id value=container.number}}
        </div>
        <div class="col-md-5 type-column">
          {{> Textarea path=path field="type" jobId=job._id value=container.type}}
        </div>
        <div class="col-md-2 num-packages-column">
          {{> Textarea path=path field="numPackages" jobId=job._id value=container.numPackages}}
        </div>
      </div>
      <div class="col-md-2 package-type-column">
        {{> Textarea path=path field="packageType" jobId=job._id value=container.packageType}}
      </div>
      <div class="col-md-2 gross-weight-column">
        {{> Textarea path=path field="grossWeight" jobId=job._id value=container.grossWeight}}
      </div>
      <div class="col-md-2 volume-column">
        {{> Textarea path=path field="volume" jobId=job._id value=container.volume}}
      </div>
    </div>
    {{#each package in container.packages}}
      {{> CargoPackage path=(packagePath @index) package=package job=job packageIndex=@index containerIndex=containerIndex}}
    {{/each}}
    <div class="cargo-package">
      <div class="row">
        <div class="icon-container add-package-button">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
      </div>
    </div>
  </div>
</template>