<template name="CargoPackage">
  <div class="cargo-package">
    <div class="row">
      <div class="col-md-4 cargo-column">
        <div class="col-md-4 col-md-offset-5 num-packages-column cargo-column">
          {{> Textarea path=path field="description" jobId=job._id value=package.description}}
        </div>
        <div class="col-md-3 num-packages-column cargo-column">
          {{> Textarea path=path field="numPackages" jobId=job._id value=package.numPackages}}
        </div>
      </div>
      <div class="col-md-3 package-type-column cargo-column">
        {{> Textarea path=path field="packageType" jobId=job._id value=package.packageType}}
      </div>
      <div class="col-md-2 gross-weight-column">
        {{> Textarea path=path field="grossWeight" jobId=job._id value=package.grossWeight}}
      </div>
      <div class="col-md-2 volume-column">
        {{> Textarea path=path field="volume" jobId=job._id value=package.volume}}
      </div>
    </div>
  </div>
</template>