<template name="CargoContainer">
  <div class="cargo-container">
    <div class="row container-header">
      <div class="col-md-2">
        <textarea class="container-number linebreakless" spellcheck="false">{{container.number}}</textarea>
      </div>
      <div class="col-md-3">
        <textarea class="container-type linebreakless" spellcheck="false">{{container.type}}</textarea>
      </div>
      <div class="col-md-1 num-packages-column">
        <textarea class="container-num-packages linebreakless" spellcheck="false">{{container.numPackages}}</textarea>
      </div>
      <div class="col-md-2 package-type-column">
        <textarea class="container-package-type linebreakless" spellcheck="false">{{formatPackageType
          container.packageType container.numPackages}}</textarea>
      </div>
      <div class="col-md-2">
        <textarea class="container-gross-weight linebreakless" spellcheck="false">{{formatWeight
          container.grossWeight}}</textarea>
      </div>
      <div class="col-md-2">
        <textarea class="container-volume linebreakless" spellcheck="false">{{formatVolume container.volume}}</textarea>
      </div>
    </div>
    {{#each package in container.packages}}
      {{#let packageIndex=@index}}
        {{> CargoPackage package=package job=job packageIndex=packageIndex containerIndex=containerIndex}}
      {{/let}}
    {{/each}}
    <div class="cargo-package">
      <div class="row">
        <div class="icon-container add-package-button">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
      </div>
    </div>
  </div>
</template>