<template name="Jobs_showPage">
  {{#if Template.subscriptionsReady}}
    {{#with job}}
      <div class="job">
        {{#if job}}
          <div class="row job-header">
            <div class="col-md-1 col-sm-1 job-number">{{job.number}}</div>
            <div class="icon-container print-icon" data-toggle="modal" data-target="#printDialog">
              <span class="glyphicon glyphicon-print"></span>
            </div>
          </div>
          <div class="parties">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="party-label">SHIPPER</label>
                  {{> Textarea field="shipper" jobId=job._id value=job.shipper}}
                  {{> Textarea rows=4 field="shipperAddress" jobId=job._id value=job.shipperAddress}}
                </div>
                <div class="form-group">
                  <label class="party-label">CONSIGNEE</label>
                  {{> Textarea field="consignee" jobId=job._id value=job.consignee}}
                  {{> Textarea rows=4 field="consigneeAddress" jobId=job._id value=job.consigneeAddress}}
                </div>
                <div class="form-group">
                  <label class="party-label">NOTIFY PARTY</label>
                  {{> Textarea field="notifyParty" jobId=job._id value=job.notifyParty}}
                  {{> Textarea rows=4 field="notifyPartyAddress" jobId=job._id value=job.notifyPartyAddress}}
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">PRE-CARRIAGE BY</label>
                      {{> Textarea field="preCarriageBy" jobId=job._id value=job.preCarriageBy}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">PLACE OF RECEIPT</label>
                      {{> Textarea field="placeOfReceipt" jobId=job._id value=job.placeOfReceipt}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">VESSEL</label>
                      {{> Textarea field="vessel" jobId=job._id value=job.vessel}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">PORT OF LOADING</label>
                      {{> Textarea field="portOfLoading" jobId=job._id value=job.portOfLoading}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">PORT OF DISCHARGE</label>
                      {{> Textarea field="portOfDischarge" jobId=job._id value=job.portOfDischarge}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="party-label">PLACE OF DELIVERY</label>
                      {{> Textarea field="placeOfDelivery" jobId=job._id value=job.placeOfDelivery}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>CUSTOMER REFERENCE</label>
                      {{> Textarea field="customerReference" jobId=job._id value=job.customerReference}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>BILL OF LADING NUMBER</label>
                      {{> Textarea field="billOfLadingNumber" jobId=job._id value=job.billOfLadingNumber}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group carrier">
                      {{> Textarea field="carrier" jobId=job._id value=job.carrier}}
                    </div>
                  </div>
                  <div class="col-md-6 col-md-offset-3 bl-type">
                    {{> Select options=blTypes field="blType" jobId=job._id value=job.blType}}
                    {{#if isWaybill}}
                      <label>NON-NEGOTIABLE</label>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row job-cargo">
            <div class="col-md-12">
              <div class="row cargo-label-row">
                <div class="col-md-4 cargo-label-column">
                  <div class="col-md-5 cargo-label-column">
                    <label>
                      CONTAINER
                    </label>
                  </div>
                  <div class="col-md-4 cargo-label-column">
                    <label>
                      SEAL
                    </label>
                  </div>
                  <div class="col-md-3 cargo-label-column">
                    <label>
                      QUANTITY
                    </label>
                  </div>
                </div>
                <div class="col-md-5 cargo-label-column">
                  <label>
                    DESCRIPTION OF GOODS
                  </label>
                </div>
                <div class="col-md-3 cargo-label-column">
                  <div class="col-md-6 cargo-label-column">
                    <label>
                      GROSS WEIGHT
                    </label>
                  </div>
                  <div class="col-md-6 cargo-label-column">
                    <label>
                      MEASUREMENT
                    </label>
                  </div>
                </div>
              </div>
              {{#each container in job.cargo.containers}}
                {{>CargoContainer path=(containerPath @index) container=container job=job containerIndex=@index}}
              {{/each}}
              <div class="cargo-container">
                <div class="row container-header">
                  <div class="icon-container add-container-button">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          Access denied.
        {{/if}}
      </div>
    {{/with}}
  {{else}}
  {{/if}}
  <!-- Modal -->
  <div class="modal fade" id="printDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bill of Lading</h4>
        </div>
        <div class="modal-body">
          <embed class="print-preview" src="">
        </div>
      </div>
    </div>
  </div>
</template>