<template name="JobListItem">
  <a href="/job/{{job.number}}">
    <div class="panel sidebar-item {{#if isActive}}active{{/if}} {{archivedClass}}">
      <div class="row">
        <div class="col-md-6 job-number">{{{formatText job.number}}}</div>
        <div class="col-md-6 job-status text-right">Departed</div>
        {{#if isArchived}}
          <span class="unarchive-icon glyphicon glyphicon-upload"></span>
        {{else}}
          <span class="archive-icon glyphicon glyphicon-download"></span>
        {{/if}}
      </div>
      <p><span class="glyphicon glyphicon-export"></span> {{{formatText job.shipper}}}</p>
      <p><span class="glyphicon glyphicon-import"></span> {{{formatText job.consignee}}}</p>
      <p><span class="glyphicon glyphicon-globe"></span> {{{formatText job.origin}}} <span
        class="glyphicon glyphicon-arrow-right"></span> {{{formatText job.destination}}}</p>
      <p><span class="glyphicon glyphicon-oil"></span> {{{formatText numContainers}}}</p>
    </div>
  </a>
</template>