<template name="JobListItem">
  <a href="/job/{{job.number}}">
    <div class="panel sidebar-item {{#if isActive}}active{{/if}}">
      <div class="row">
        <div class="col-md-6 job-number">{{job.number}}</div>
        <div class="col-md-6 job-status text-right">Departed</div>
      </div>
      <p><span class="glyphicon glyphicon-export"></span> {{job.shipper}}</p>
      <p><span class="glyphicon glyphicon-import"></span> {{job.consignee}}</p>
      <p><span class="glyphicon glyphicon-globe"></span> {{job.origin.code}} <span
        class="glyphicon glyphicon-arrow-right"></span> {{job.destination.code}}</p>
      <p><span class="glyphicon glyphicon-oil"></span> {{numContainers}}</p>
    </div>
  </a>
</template>