<template name="Navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="col-md-3 col-sm-3 navbar-left">
        <a class="add-icon" id="add-job" href=""><span class="glyphicon glyphicon-plus pull-right"></span></a>
        <div class="navbar-brand">Freight For All</div>
      </div>
      <ul class="nav navbar-nav">

        <li class="active"><a href="#">Shipments</a></li>
        <li><a href="#">Clients</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">James Burgess</a></li>
      </ul>
    </div>
  </nav>
</template>